.RoundedCoral1.rnr-s-empty > .rnr-c
{
background:none;

}
.RoundedCoral1.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.RoundedCoral1.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #525252;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedCoral1.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-menu > .rnr-c
{
border: solid #C0C0C0 1px;border-top-right-radius: 20px;border-top-left-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;
}
.RoundedCoral1.rnr-s-menu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 19px; padding-right: 10px;
border-bottom-right-radius: 19px; padding-right: 10px;

}
.RoundedCoral1.rnr-s-menu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 19px; padding-left: 10px;
border-bottom-left-radius: 19px; padding-left: 10px;

}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-color: #696969;
background: linear-gradient(0.000000turn, #B4B4B4, #696969);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-menu > .rnr-c.rnr-ch
{
background-color: #696969;
background: linear-gradient(0.000000turn, #B4B4B4, #696969);
;

}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #444444;color: #DCDCDC;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-s-menu > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedCoral1 .rnr-s-menu > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1 .rnr-s-menu > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedCoral1 .rnr-s-menu > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 20px;
}
.RoundedCoral1.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 20px;
}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 5px;
}
.RoundedCoral1.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 20px; background:transparent;
}
.RoundedCoral1.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 20px; background:transparent;
}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 7px 6px;
}
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 7px 6px;
}
.RoundedCoral1.rnr-s-hmenu > .rnr-c
{
background:none;

}
.RoundedCoral1.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.RoundedCoral1.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedCoral1.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-c
{
border: solid #6699CC 1px;border-top-right-radius: 12px;border-top-left-radius: 12px;border-bottom-right-radius: 12px;border-bottom-left-radius: 12px;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 11px; padding-right: 6px;
border-bottom-right-radius: 11px; padding-right: 6px;

}
.RoundedCoral1.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 11px; padding-left: 6px;
border-bottom-left-radius: 11px; padding-left: 6px;

}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #8e9aac;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #8e9aac;
}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 12px;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 12px;
}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.RoundedCoral1.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-fields > .rnr-c
{
border: solid #DCDCDC 1px;border-top-right-radius: 13px;border-top-left-radius: 13px;border-bottom-right-radius: 13px;border-bottom-left-radius: 13px;
}
.RoundedCoral1.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 12px; padding-right: 6px;
border-bottom-right-radius: 12px; padding-right: 6px;

}
.RoundedCoral1.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 12px; padding-left: 6px;
border-bottom-left-radius: 12px; padding-left: 6px;

}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
color: #525252;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-fields > .rnr-c.rnr-ch
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;

}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-color: #F0F0F0;
background: linear-gradient(0.000000turn, #323232, #F0F0F0);
;
color: #4D4D4D;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 13px;
}
.RoundedCoral1.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 13px;
}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 13px; background:transparent;
}
.RoundedCoral1.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 13px; background:transparent;
}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 10px 5px;
}
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-form > .rnr-c
{
border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedCoral1.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 18px; padding-right: 9px;
border-bottom-right-radius: 18px; padding-right: 9px;

}
.RoundedCoral1.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 18px; padding-left: 9px;
border-bottom-left-radius: 18px; padding-left: 9px;

}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-s-form > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedCoral1 .rnr-s-form > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1 .rnr-s-form > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedCoral1 .rnr-s-form > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedCoral1.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-1 > .rnr-c
{
border-top-right-radius: 14px;border-top-left-radius: 14px;border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;
}
.RoundedCoral1.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 14px; padding-right: 7px;
border-bottom-right-radius: 14px; padding-right: 7px;

}
.RoundedCoral1.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 14px; padding-left: 7px;
border-bottom-left-radius: 14px; padding-left: 7px;

}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FEFEFE, #F9F9F9);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-1 > .rnr-c.rnr-ch
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FEFEFE, #F9F9F9);
;

}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #F0F0F0;color: #4D4D4D;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-s-1 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedCoral1 .rnr-s-1 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 5px 5px;
}
.RoundedCoral1 .rnr-s-1 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedCoral1 .rnr-s-1 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 5px 5px;
}
.RoundedCoral1.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 14px;
}
.RoundedCoral1.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 14px;
}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 14px; background:transparent;
}
.RoundedCoral1.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 14px; background:transparent;
}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedCoral1.rnr-s-2 > .rnr-c
{
border: solid #DCDCDC 1px;border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedCoral1.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 17px; padding-right: 9px;
border-bottom-right-radius: 17px; padding-right: 9px;

}
.RoundedCoral1.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 17px; padding-left: 9px;
border-bottom-left-radius: 17px; padding-left: 9px;

}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FCFCFC, #F9F9F9);
;
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FCFCFC, #F9F9F9);
;

}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-s-2 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedCoral1 .rnr-s-2 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1 .rnr-s-2 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedCoral1 .rnr-s-2 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedCoral1.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-3 > .rnr-c
{
border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedCoral1.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 18px; padding-right: 9px;
border-bottom-right-radius: 18px; padding-right: 9px;

}
.RoundedCoral1.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 18px; padding-left: 9px;
border-bottom-left-radius: 18px; padding-left: 9px;

}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style1,
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #343434;
}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style2,
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #2E5C8B;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style3,
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-s-3 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedCoral1 .rnr-s-3 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1 .rnr-s-3 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedCoral1 .rnr-s-3 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedCoral1.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedCoral1.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedCoral1.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.RoundedCoral1.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #EFEFEF 1px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #EFEFEF 1px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-right: solid #EFEFEF 1px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-left: solid #EFEFEF 1px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-right-radius: 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-right-radius: 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-left-radius: 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-left-radius: 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 4px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #E2E2E2;
background: linear-gradient(0.000000turn, #F0F0F0, #E2E2E2);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #525252;padding: 5px 7px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #F7F7F7; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 4px;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #F0F0F0; background-image: none;color: #333333;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #F0F0F0; background-image: none;color: #333333;
}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #EFEFEF 1px;

}
.RoundedCoral1.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.RoundedCoral1.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #EFEFEF 1px;

}
.RoundedCoral1 .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > *,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-color: #374A59;
background: linear-gradient(0.000000turn, #202B34, #374A59);
;
color:#BFC2C7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > hr,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#BFC2C7;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.RoundedCoral1 .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > *.current.current.current,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *.subitem
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #C9C9C9, #FFFFFF);
;
color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li > hr,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#000000;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.RoundedCoral1 .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-color: #F7F7F7;
background: linear-gradient(0.000000turn, #C3C3C3, #F7F7F7);
;
color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.RoundedCoral1 .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-color: #FAE0DD;
background: linear-gradient(0.000000turn, #C5B0AE, #FAE0DD);
;
color:#D02B18;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-color: #F7F7F7;
background: linear-gradient(0.000000turn, #C3C3C3, #F7F7F7);
;
color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > *,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-color: #374A59;
background: linear-gradient(0.000000turn, #202B34, #374A59);
;
color:#BFC2C7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > hr,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#BFC2C7;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.RoundedCoral1 .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > *.current.current.current,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-color: #283943;
background: linear-gradient(0.000000turn, #172127, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *.subitem
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #C9C9C9, #FFFFFF);
;
color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li > hr,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#000000;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.RoundedCoral1 .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-color: #F7F7F7;
background: linear-gradient(0.000000turn, #C3C3C3, #F7F7F7);
;
color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.RoundedCoral1 .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-color: #FAE0DD;
background: linear-gradient(0.000000turn, #C5B0AE, #FAE0DD);
;
color:#D02B18;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-color: #F7F7F7;
background: linear-gradient(0.000000turn, #C3C3C3, #F7F7F7);
;
color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedCoral1 .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedCoral1 .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-color: #374A59;
background: linear-gradient(0.000000turn, #24303A, #374A59);
;
color:#BFC2C7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 6px 5px;border-top-right-radius: 16px;border-top-left-radius: 16px;border: solid #494949 1px;
}
.RoundedCoral1 .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#BFC2C7;
}
.RoundedCoral1 .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #FFFFFF;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li > hr
{
border-color:#000000;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F7F7F7;color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #FAE0DD;color:#D02B18;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #F7F7F7;color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedCoral1 .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.RoundedCoral1 .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-color: #374A59;
background: linear-gradient(0.000000turn, #24303A, #374A59);
;
color:#BFC2C7;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 6px 5px;border-top-right-radius: 16px;border-top-left-radius: 16px;border: solid #494949 1px;
}
.RoundedCoral1 .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#BFC2C7;
}
.RoundedCoral1 .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #283943;
background: linear-gradient(0.000000turn, #1A252C, #283943);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #FFFFFF;color:#000000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li > hr
{
border-color:#000000;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F7F7F7;color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #FAE0DD;color:#D02B18;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #F7F7F7;color:#797979;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedCoral1 .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.RoundedCoral1 .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedCoral1 .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.RoundedCoral1
{

background-color:#F7F7F7;
}
.RoundedCoral1 .rnr-list
{
color: #C78787;background-color: #FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedCoral1 .rnr-tab.selected
{
background-color:#16589C;
border-top-right-radius:4px;
border-top-left-radius:4px;

}
.RoundedCoral1 .rnr-tab
{
background-color:#E9E9E9;
border-top-right-radius:4px;
border-top-left-radius:4px;
border: solid #808080 1px; border-bottom-width:0;
}
.RoundedCoral1 .rnr-tab.selected > a
{
color: #FFFFFF;

}
.RoundedCoral1 .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .yui-navset .yui-content
{
border: solid #16589C 1px;border-top-width: 5px;
}
.RoundedCoral1 .rnr-stepnav > a.active,
.RoundedCoral1 .rnr-stepnav > a:hover:not(.active),
.RoundedCoral1 .rnr-stepnav > a.active:after,
.RoundedCoral1 .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #D35544;

}
.RoundedCoral1 .rnr-stepnav > a:not(.active),
.RoundedCoral1 .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #FFFFFF;

}
.RoundedCoral1 .rnr-stepnav > a:before
{
background-image: none; background: #FFFFFF;

}
.RoundedCoral1 .rnr-stepnav > a.active,
.RoundedCoral1 .rnr-stepnav > a:hover:not(.active)
{
color: #FFFFFF;

}
.RoundedCoral1 .rnr-stepnav > a:not(.active)
{
color: #DDDDDD;

}
.RoundedCoral1 .rnr-stepnav > a:before 
{
color: #C35142;

}
.RoundedCoral1 .rnr-stepnav > a,
 .rnr-pagewrapper .RoundedCoral1 .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-stepnav > a
{
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1  .rnr-message
{
background-color: #EBEDEF;border:none;color: #16589C;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .yui3-panel-content.yui3-panel-content
{
border-radius: 14px;
}
.RoundedCoral1  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #DDDDDD; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #4D4D4D;
}
.RoundedCoral1  .yui3-widget-ft
{
background-color: #DDDDDD;
background: linear-gradient(0.000000turn, #2E2E2E, #DDDDDD);
;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #4D4D4D;
}
.RoundedCoral1 .rnr-dbbordered
{
border-radius: 14px;
}
.RoundedCoral1  .rnr-dbelemheader
{
background-color: #DDDDDD; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #4D4D4D;
}
.RoundedCoral1  .rnr-dbelemfooter
{
background-color: #D8D8D8;
background: linear-gradient(0.000000turn, #2D2D2D, #D8D8D8);
;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.RoundedCoral1  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFF00; background-image: none;color: #000000;
}
.RoundedCoral1 .rnr-dashboard
{
background-color: #FFFFFF;
}
.RoundedCoral1 .rnr-button.rnr-button,
.RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.RoundedCoral1 .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1 .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 10px;padding: 3px 10px 3px;background-image: none; background-color: #D35544;
border-color: #D35544;color: #FFFFFF;
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .rnr-button.rnr-button.img,
.RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.RoundedCoral1 .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1 .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.RoundedCoral1 .rnr-button:hover,
.RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.RoundedCoral1 .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1 .rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button:hover
{
background-image: none; background-color: #FFFFFF;
border-color: #D35544;color: #C35142;

}
.RoundedCoral1 .rnr-button:active,
.RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.RoundedCoral1 .button.button.button.rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1 .rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button:active
{
background-image: none; background-color: #FFFFFF;
border-color: #D35544;color: #C35142;

}
.RoundedCoral1 .rnr-button.disabled,
.RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.RoundedCoral1 .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1 .rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #FFFFFF;
border-color: #696969;color: #DDDDDD;

}
.RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.RoundedCoral1 .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.RoundedCoral1 .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.RoundedCoral1 .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button:hover
{
color: #8e9aac;

}
.RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.RoundedCoral1 .link.link.link.rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button:active
{
color: #004080;

}
.RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.RoundedCoral1 .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .link.link.link.rnr-button.disabled
{
color: #004080;

}
.RoundedCoral1 .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 10px;padding: 3px 10px 3px;background-image: none; background-color: #454F5E;
border-color: #424242;color: #FFFFFF;
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedCoral1 .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.RoundedCoral1 .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button:hover
{
background-image: none; background-color: #FFFFFF;
border-color: #424242;color: #424242;

}
.RoundedCoral1 .main.main.main.rnr-button:active,
 .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button:active
{
background-image: none; background-color: #FFFFFF;
border-color: #424242;color: #424242;

}
.RoundedCoral1 .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedCoral1 .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #696969;color: #A9A9A9;

}
