<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel baja add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN id_func_fieldblock}
<div data-fieldname="id_func" class="rnr-field style1 {$fielddispclass_id_func}">
  <span class="rnr-label">{BEGIN id_func_label}{$label baja id_func}{END id_func_label}</span>
  <span class="rnr-control style3">{$id_func_editcontrol}</span>
</div>
{END id_func_fieldblock}
	{BEGIN id_per_fieldblock}
<div data-fieldname="id_per" class="rnr-field style1 {$fielddispclass_id_per}">
  <span class="rnr-label">{BEGIN id_per_label}{$label baja id_per}{END id_per_label}</span>
  <span class="rnr-control style3">{$id_per_editcontrol}</span>
</div>
{END id_per_fieldblock}
	{BEGIN date_pres_fieldblock}
<div data-fieldname="date_pres" class="rnr-field style1 {$fielddispclass_date_pres}">
  <span class="rnr-label">{BEGIN date_pres_label}{$label baja date_pres}{END date_pres_label}</span>
  <span class="rnr-control style3">{$date_pres_editcontrol}</span>
</div>
{END date_pres_fieldblock}
</td>
<td>
	{BEGIN date_efect_fieldblock}
<div data-fieldname="date_efect" class="rnr-field style1 {$fielddispclass_date_efect}">
  <span class="rnr-label">{BEGIN date_efect_label}{$label baja date_efect}{END date_efect_label}</span>
  <span class="rnr-control style3">{$date_efect_editcontrol}</span>
</div>
{END date_efect_fieldblock}
	{BEGIN reasone_fieldblock}
<div data-fieldname="reasone" class="rnr-field style1 {$fielddispclass_reasone}">
  <span class="rnr-label">{BEGIN reasone_label}{$label baja reasone}{END reasone_label}</span>
  <span class="rnr-control style3">{$reasone_editcontrol}</span>
</div>
{END reasone_fieldblock}
	{BEGIN comment_fieldblock}
<div data-fieldname="comment" class="rnr-field style1 {$fielddispclass_comment}">
  <span class="rnr-label">{BEGIN comment_label}{$label baja comment}{END comment_label}</span>
  <span class="rnr-control style3">{$comment_editcontrol}</span>
</div>
{END comment_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reiniciar</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancelar</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Volver a la lista</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Regresar al menú</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
