<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_per">
	{$id_per_editcontrol}
	</control>
	<control 
	field="dir_g">
	{$dir_g_editcontrol}
	</control>
	<control 
	field="unit">
	{$unit_editcontrol}
	</control>
	<control 
	field="area">
	{$area_editcontrol}
	</control>
	<control 
	field="boss_is">
	{$boss_is_editcontrol}
	</control>
	<control 
	field="boss_ij">
	{$boss_ij_editcontrol}
	</control>
	<control 
	field="charge">
	{$charge_editcontrol}
	</control>
	<control 
	field="date_des">
	{$date_des_editcontrol}
	</control>
	<control 
	field="date_end">
	{$date_end_editcontrol}
	</control>
	<control 
	field="num_memo">
	{$num_memo_editcontrol}
	</control>
	<control 
	field="date_des_ini">
	{$date_des_ini_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
