<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_func">
	{$id_func_editcontrol}
	</control>
	<control 
	field="date_ent">
	{$date_ent_editcontrol}
	</control>
	<control 
	field="date_end">
	{$date_end_editcontrol}
	</control>
	<control 
	field="status">
	{$status_editcontrol}
	</control>
	<control 
	field="name_con">
	{$name_con_editcontrol}
	</control>
	<control 
	field="TIPO">
	{$TIPO_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
