<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="name">
	{$name_editcontrol}
	</control>
	<control field="l_name1">
	{$l_name1_editcontrol}
	</control>
	<control field="l_name2">
	{$l_name2_editcontrol}
	</control>
	<control field="afp">
	{$afp_editcontrol}
	</control>
	<control field="nua">
	{$nua_editcontrol}
	</control>
	<control field="sex">
	{$sex_editcontrol}
	</control>
	<control field="ci">
	{$ci_editcontrol}
	</control>
	<control field="expe">
	{$expe_editcontrol}
	</control>
	<control field="date_born">
	{$date_born_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>