<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel identificacion_puesto add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN id_per_fieldblock}
<div data-fieldname="id_per" class="rnr-field style1 {$fielddispclass_id_per}">
  <span class="rnr-label">{BEGIN id_per_label}{$label identificacion_puesto id_per}{END id_per_label}</span>
  <span class="rnr-control style3">{$id_per_editcontrol}</span>
</div>
{END id_per_fieldblock}
	{BEGIN denominacion_fieldblock}
<div data-fieldname="denominacion" class="rnr-field style1 {$fielddispclass_denominacion}">
  <span class="rnr-label">{BEGIN denominacion_label}{$label identificacion_puesto denominacion}{END denominacion_label}</span>
  <span class="rnr-control style3">{$denominacion_editcontrol}</span>
</div>
{END denominacion_fieldblock}
	{BEGIN nombre_funcional_fieldblock}
<div data-fieldname="nombre_funcional" class="rnr-field style1 {$fielddispclass_nombre_funcional}">
  <span class="rnr-label">{BEGIN nombre_funcional_label}{$label identificacion_puesto nombre_funcional}{END nombre_funcional_label}</span>
  <span class="rnr-control style3">{$nombre_funcional_editcontrol}</span>
</div>
{END nombre_funcional_fieldblock}
	{BEGIN unidad_organizacional_fieldblock}
<div data-fieldname="unidad_organizacional" class="rnr-field style1 {$fielddispclass_unidad_organizacional}">
  <span class="rnr-label">{BEGIN unidad_organizacional_label}{$label identificacion_puesto unidad_organizacional}{END unidad_organizacional_label}</span>
  <span class="rnr-control style3">{$unidad_organizacional_editcontrol}</span>
</div>
{END unidad_organizacional_fieldblock}
	{BEGIN supervisa_a_fieldblock}
<div data-fieldname="supervisa_a" class="rnr-field style1 {$fielddispclass_supervisa_a}">
  <span class="rnr-label">{BEGIN supervisa_a_label}{$label identificacion_puesto supervisa_a}{END supervisa_a_label}</span>
  <span class="rnr-control style3">{$supervisa_a_editcontrol}</span>
</div>
{END supervisa_a_fieldblock}
	{BEGIN codigo_fieldblock}
<div data-fieldname="codigo" class="rnr-field style1 {$fielddispclass_codigo}">
  <span class="rnr-label">{BEGIN codigo_label}{$label identificacion_puesto codigo}{END codigo_label}</span>
  <span class="rnr-control style3">{$codigo_editcontrol}</span>
</div>
{END codigo_fieldblock}
</td>
<td>
	{BEGIN categoria_fieldblock}
<div data-fieldname="categoria" class="rnr-field style1 {$fielddispclass_categoria}">
  <span class="rnr-label">{BEGIN categoria_label}{$label identificacion_puesto categoria}{END categoria_label}</span>
  <span class="rnr-control style3">{$categoria_editcontrol}</span>
</div>
{END categoria_fieldblock}
	{BEGIN nivel_fieldblock}
<div data-fieldname="nivel" class="rnr-field style1 {$fielddispclass_nivel}">
  <span class="rnr-label">{BEGIN nivel_label}{$label identificacion_puesto nivel}{END nivel_label}</span>
  <span class="rnr-control style3">{$nivel_editcontrol}</span>
</div>
{END nivel_fieldblock}
	{BEGIN jefe_inmediato_superior_fieldblock}
<div data-fieldname="jefe_inmediato_superior" class="rnr-field style1 {$fielddispclass_jefe_inmediato_superior}">
  <span class="rnr-label">{BEGIN jefe_inmediato_superior_label}{$label identificacion_puesto jefe_inmediato_superior}{END jefe_inmediato_superior_label}</span>
  <span class="rnr-control style3">{$jefe_inmediato_superior_editcontrol}</span>
</div>
{END jefe_inmediato_superior_fieldblock}
	{BEGIN jefe_supeior_jerarquico_fieldblock}
<div data-fieldname="jefe_supeior_jerarquico" class="rnr-field style1 {$fielddispclass_jefe_supeior_jerarquico}">
  <span class="rnr-label">{BEGIN jefe_supeior_jerarquico_label}{$label identificacion_puesto jefe_supeior_jerarquico}{END jefe_supeior_jerarquico_label}</span>
  <span class="rnr-control style3">{$jefe_supeior_jerarquico_editcontrol}</span>
</div>
{END jefe_supeior_jerarquico_fieldblock}
	{BEGIN updated_at_fieldblock}
<div data-fieldname="updated_at" class="rnr-field style1 {$fielddispclass_updated_at}">
  <span class="rnr-label">{BEGIN updated_at_label}{$label identificacion_puesto updated_at}{END updated_at_label}</span>
  <span class="rnr-control style3">{$updated_at_editcontrol}</span>
</div>
{END updated_at_fieldblock}
	{BEGIN created_at_fieldblock}
<div data-fieldname="created_at" class="rnr-field style1 {$fielddispclass_created_at}">
  <span class="rnr-label">{BEGIN created_at_label}{$label identificacion_puesto created_at}{END created_at_label}</span>
  <span class="rnr-control style3">{$created_at_editcontrol}</span>
</div>
{END created_at_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reiniciar</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancelar</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Volver a la lista</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Regresar al menú</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
