<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_per">
	{$id_per_editcontrol}
	</control>
	<control 
	field="denominacion">
	{$denominacion_editcontrol}
	</control>
	<control 
	field="nombre_funcional">
	{$nombre_funcional_editcontrol}
	</control>
	<control 
	field="unidad_organizacional">
	{$unidad_organizacional_editcontrol}
	</control>
	<control 
	field="supervisa_a">
	{$supervisa_a_editcontrol}
	</control>
	<control 
	field="codigo">
	{$codigo_editcontrol}
	</control>
	<control 
	field="categoria">
	{$categoria_editcontrol}
	</control>
	<control 
	field="nivel">
	{$nivel_editcontrol}
	</control>
	<control 
	field="jefe_inmediato_superior">
	{$jefe_inmediato_superior_editcontrol}
	</control>
	<control 
	field="jefe_supeior_jerarquico">
	{$jefe_supeior_jerarquico_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
