<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel LISTADO_DE_CUMPLEA_EROS search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NO</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_id_func}">
	{BEGIN id_func_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS id_func}
	</td>
	<td>
		<input type="checkbox" {$id_func_notbox}>
	</td>
	<td>
		{$searchtype_id_func}
	</td>
	<td>
		{$id_func_editcontrol}&nbsp;
	</td>
	<td>
		{$id_func_editcontrol1}&nbsp;
	</td>
{END id_func_fieldblock}
	</tr>
	<tr class="{$fielddispclass_fecha_nac}">
	{BEGIN fecha_nac_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS fecha_nac}
	</td>
	<td>
		<input type="checkbox" {$fecha_nac_notbox}>
	</td>
	<td>
		{$searchtype_fecha_nac}
	</td>
	<td>
		{$fecha_nac_editcontrol}&nbsp;
	</td>
	<td>
		{$fecha_nac_editcontrol1}&nbsp;
	</td>
{END fecha_nac_fieldblock}
	</tr>
	<tr class="{$fielddispclass_sexo}">
	{BEGIN sexo_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS sexo}
	</td>
	<td>
		<input type="checkbox" {$sexo_notbox}>
	</td>
	<td>
		{$searchtype_sexo}
	</td>
	<td>
		{$sexo_editcontrol}&nbsp;
	</td>
	<td>
		{$sexo_editcontrol1}&nbsp;
	</td>
{END sexo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_item_contrato}">
	{BEGIN item_contrato_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS item_contrato}
	</td>
	<td>
		<input type="checkbox" {$item_contrato_notbox}>
	</td>
	<td>
		{$searchtype_item_contrato}
	</td>
	<td>
		{$item_contrato_editcontrol}&nbsp;
	</td>
	<td>
		{$item_contrato_editcontrol1}&nbsp;
	</td>
{END item_contrato_fieldblock}
	</tr>
	<tr class="{$fielddispclass_paterno}">
	{BEGIN paterno_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS paterno}
	</td>
	<td>
		<input type="checkbox" {$paterno_notbox}>
	</td>
	<td>
		{$searchtype_paterno}
	</td>
	<td>
		{$paterno_editcontrol}&nbsp;
	</td>
	<td>
		{$paterno_editcontrol1}&nbsp;
	</td>
{END paterno_fieldblock}
	</tr>
	<tr class="{$fielddispclass_materno}">
	{BEGIN materno_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS materno}
	</td>
	<td>
		<input type="checkbox" {$materno_notbox}>
	</td>
	<td>
		{$searchtype_materno}
	</td>
	<td>
		{$materno_editcontrol}&nbsp;
	</td>
	<td>
		{$materno_editcontrol1}&nbsp;
	</td>
{END materno_fieldblock}
	</tr>
	<tr class="{$fielddispclass_nombres}">
	{BEGIN nombres_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS nombres}
	</td>
	<td>
		<input type="checkbox" {$nombres_notbox}>
	</td>
	<td>
		{$searchtype_nombres}
	</td>
	<td>
		{$nombres_editcontrol}&nbsp;
	</td>
	<td>
		{$nombres_editcontrol1}&nbsp;
	</td>
{END nombres_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ci}">
	{BEGIN ci_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS ci}
	</td>
	<td>
		<input type="checkbox" {$ci_notbox}>
	</td>
	<td>
		{$searchtype_ci}
	</td>
	<td>
		{$ci_editcontrol}&nbsp;
	</td>
	<td>
		{$ci_editcontrol1}&nbsp;
	</td>
{END ci_fieldblock}
	</tr>
	<tr class="{$fielddispclass_exp}">
	{BEGIN exp_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS exp}
	</td>
	<td>
		<input type="checkbox" {$exp_notbox}>
	</td>
	<td>
		{$searchtype_exp}
	</td>
	<td>
		{$exp_editcontrol}&nbsp;
	</td>
	<td>
		{$exp_editcontrol1}&nbsp;
	</td>
{END exp_fieldblock}
	</tr>
	<tr class="{$fielddispclass_unidad}">
	{BEGIN unidad_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS unidad}
	</td>
	<td>
		<input type="checkbox" {$unidad_notbox}>
	</td>
	<td>
		{$searchtype_unidad}
	</td>
	<td>
		{$unidad_editcontrol}&nbsp;
	</td>
	<td>
		{$unidad_editcontrol1}&nbsp;
	</td>
{END unidad_fieldblock}
	</tr>
	<tr class="{$fielddispclass_cargo}">
	{BEGIN cargo_fieldblock}		
	<td>
		{$label LISTADO_DE_CUMPLEA_EROS cargo}
	</td>
	<td>
		<input type="checkbox" {$cargo_notbox}>
	</td>
	<td>
		{$searchtype_cargo}
	</td>
	<td>
		{$cargo_editcontrol}&nbsp;
	</td>
	<td>
		{$cargo_editcontrol1}&nbsp;
	</td>
{END cargo_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Buscar</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
