<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_func">
	{$id_func_editcontrol}
	</control>
	<control 
	field="id_per">
	{$id_per_editcontrol}
	</control>
	<control 
	field="fecha_registro_dato">
	{$fecha_registro_dato_editcontrol}
	</control>
	<control 
	field="date_start">
	{$date_start_editcontrol}
	</control>
	<control 
	field="date_last">
	{$date_last_editcontrol}
	</control>
	<control 
	field="date_cas">
	{$date_cas_editcontrol}
	</control>
	<control 
	field="year_rat">
	{$year_rat_editcontrol}
	</control>
	<control 
	field="month_rat">
	{$month_rat_editcontrol}
	</control>
	<control 
	field="day_rat">
	{$day_rat_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
