<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_func">
	{$id_func_editcontrol}
	</control>
	<control 
	field="date_ent">
	{$date_ent_editcontrol}
	</control>
	<control 
	field="status">
	{$status_editcontrol}
	</control>
	<control 
	field="TIPO">
	{$TIPO_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<control 
	field="item">
	{$item_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
