<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id_func">
	{$id_func_editcontrol}
	</control>
	<control field="id_per">
	{$id_per_editcontrol}
	</control>
	<control field="name_sec">
	{$name_sec_editcontrol}
	</control>
	<control field="num_reg">
	{$num_reg_editcontrol}
	</control>
	<control field="type_sec">
	{$type_sec_editcontrol}
	</control>
	<control field="date_afil">
	{$date_afil_editcontrol}
	</control>
	<control field="date_des">
	{$date_des_editcontrol}
	</control>
	<control field="cause">
	{$cause_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>