<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel t_asignaciones add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN id_asig_fieldblock}
<div data-fieldname="id_asig" class="rnr-field style1 {$fielddispclass_id_asig}">
  <span class="rnr-label">{BEGIN id_asig_label}{$label t_asignaciones id_asig}{END id_asig_label}</span>
  <span class="rnr-control style3">{$id_asig_editcontrol}</span>
</div>
{END id_asig_fieldblock}
	{BEGIN fecha_nac_fieldblock}
<div data-fieldname="fecha_nac" class="rnr-field style1 {$fielddispclass_fecha_nac}">
  <span class="rnr-label">{BEGIN fecha_nac_label}{$label t_asignaciones fecha_nac}{END fecha_nac_label}</span>
  <span class="rnr-control style3">{$fecha_nac_editcontrol}</span>
</div>
{END fecha_nac_fieldblock}
	{BEGIN fecha_pres_fieldblock}
<div data-fieldname="fecha_pres" class="rnr-field style1 {$fielddispclass_fecha_pres}">
  <span class="rnr-label">{BEGIN fecha_pres_label}{$label t_asignaciones fecha_pres}{END fecha_pres_label}</span>
  <span class="rnr-control style3">{$fecha_pres_editcontrol}</span>
</div>
{END fecha_pres_fieldblock}
	{BEGIN pre_num_paq_fieldblock}
<div data-fieldname="pre_num_paq" class="rnr-field style1 {$fielddispclass_pre_num_paq}">
  <span class="rnr-label">{BEGIN pre_num_paq_label}{$label t_asignaciones pre_num_paq}{END pre_num_paq_label}</span>
  <span class="rnr-control style3">{$pre_num_paq_editcontrol}</span>
</div>
{END pre_num_paq_fieldblock}
	{BEGIN paq_monto_fieldblock}
<div data-fieldname="paq_monto" class="rnr-field style1 {$fielddispclass_paq_monto}">
  <span class="rnr-label">{BEGIN paq_monto_label}{$label t_asignaciones paq_monto}{END paq_monto_label}</span>
  <span class="rnr-control style3">{$paq_monto_editcontrol}</span>
</div>
{END paq_monto_fieldblock}
	{BEGIN sub_natalidad_fieldblock}
<div data-fieldname="sub_natalidad" class="rnr-field style1 {$fielddispclass_sub_natalidad}">
  <span class="rnr-label">{BEGIN sub_natalidad_label}{$label t_asignaciones sub_natalidad}{END sub_natalidad_label}</span>
  <span class="rnr-control style3">{$sub_natalidad_editcontrol}</span>
</div>
{END sub_natalidad_fieldblock}
</td>
<td>
	{BEGIN lac_num_paq_fieldblock}
<div data-fieldname="lac_num_paq" class="rnr-field style1 {$fielddispclass_lac_num_paq}">
  <span class="rnr-label">{BEGIN lac_num_paq_label}{$label t_asignaciones lac_num_paq}{END lac_num_paq_label}</span>
  <span class="rnr-control style3">{$lac_num_paq_editcontrol}</span>
</div>
{END lac_num_paq_fieldblock}
	{BEGIN lac_monto_fieldblock}
<div data-fieldname="lac_monto" class="rnr-field style1 {$fielddispclass_lac_monto}">
  <span class="rnr-label">{BEGIN lac_monto_label}{$label t_asignaciones lac_monto}{END lac_monto_label}</span>
  <span class="rnr-control style3">{$lac_monto_editcontrol}</span>
</div>
{END lac_monto_fieldblock}
	{BEGIN sepelio_fieldblock}
<div data-fieldname="sepelio" class="rnr-field style1 {$fielddispclass_sepelio}">
  <span class="rnr-label">{BEGIN sepelio_label}{$label t_asignaciones sepelio}{END sepelio_label}</span>
  <span class="rnr-control style3">{$sepelio_editcontrol}</span>
</div>
{END sepelio_fieldblock}
	{BEGIN sub_total_pago_sedem_fieldblock}
<div data-fieldname="sub_total_pago_sedem" class="rnr-field style1 {$fielddispclass_sub_total_pago_sedem}">
  <span class="rnr-label">{BEGIN sub_total_pago_sedem_label}{$label t_asignaciones sub_total_pago_sedem}{END sub_total_pago_sedem_label}</span>
  <span class="rnr-control style3">{$sub_total_pago_sedem_editcontrol}</span>
</div>
{END sub_total_pago_sedem_fieldblock}
	{BEGIN fecha_registro_fieldblock}
<div data-fieldname="fecha_registro" class="rnr-field style1 {$fielddispclass_fecha_registro}">
  <span class="rnr-label">{BEGIN fecha_registro_label}{$label t_asignaciones fecha_registro}{END fecha_registro_label}</span>
  <span class="rnr-control style3">{$fecha_registro_editcontrol}</span>
</div>
{END fecha_registro_fieldblock}
	{BEGIN id_adm_fieldblock}
<div data-fieldname="id_adm" class="rnr-field style1 {$fielddispclass_id_adm}">
  <span class="rnr-label">{BEGIN id_adm_label}{$label t_asignaciones id_adm}{END id_adm_label}</span>
  <span class="rnr-control style3">{$id_adm_editcontrol}</span>
</div>
{END id_adm_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reiniciar</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancelar</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Volver a la lista</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Regresar al menú</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
