<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="fecha_registro">
	{$fecha_registro_editcontrol}
	</control>
	<control field="id_adm">
	{$id_adm_editcontrol}
	</control>
	<control field="id_asig">
	{$id_asig_editcontrol}
	</control>
	<control field="fecha_nac">
	{$fecha_nac_editcontrol}
	</control>
	<control field="fecha_pres">
	{$fecha_pres_editcontrol}
	</control>
	<control field="pre_num_paq">
	{$pre_num_paq_editcontrol}
	</control>
	<control field="paq_monto">
	{$paq_monto_editcontrol}
	</control>
	<control field="sub_natalidad">
	{$sub_natalidad_editcontrol}
	</control>
	<control field="lac_num_paq">
	{$lac_num_paq_editcontrol}
	</control>
	<control field="lac_monto">
	{$lac_monto_editcontrol}
	</control>
	<control field="sepelio">
	{$sepelio_editcontrol}
	</control>
	<control field="sub_total_pago_sedem">
	{$sub_total_pago_sedem_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>