<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}">	<h1>{$pagetitlelabel t_descuentos masterlist}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-mastergridfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$id_func_class}">{$label t_descuentos id_func}</th>
			<th class="{$name_class}">{$label t_descuentos name}</th>
			<th class="{$l_name1_class}">{$label t_descuentos l_name1}</th>
			<th class="{$l_name2_class}">{$label t_descuentos l_name2}</th>
			<th class="{$afp_10_class}">{$label t_descuentos afp_10}</th>
			<th class="{$afp_riesgo_1_71_class}">{$label t_descuentos afp_riesgo_1_71}</th>
			<th class="{$afp_05_class}">{$label t_descuentos afp_05}</th>
			<th class="{$rc_iva_class}">{$label t_descuentos rc_iva}</th>
			<th class="{$retenciones_class}">{$label t_descuentos retenciones}</th>
			<th class="{$multa_class}">{$label t_descuentos multa}</th>
			<th class="{$total_desc_class}">{$label t_descuentos total_desc}</th>
			<th class="{$mes_class}">{$label t_descuentos mes}</th>
			<th class="{$liquido_pagable_class}">{$label t_descuentos liquido_pagable}</th>
			<th class="{$afp_ap_sol_0_5_class}">{$label t_descuentos afp_ap_sol_0_5}</th>
			<th class="{$gestion_class}">{$label t_descuentos gestion}</th>
			<th class="{$ans_1_class}">{$label t_descuentos ans_1}</th>
			<th class="{$seguro_pat_10_class}">{$label t_descuentos seguro_pat_10}</th>
			<th class="{$riesgo_pat_171_class}">{$label t_descuentos riesgo_pat_171}</th>
			<th class="{$pro_vivienda_pat_2_class}">{$label t_descuentos pro_vivienda_pat_2}</th>
			<th class="{$ap_pat_sol_3_class}">{$label t_descuentos ap_pat_sol_3}</th>
			<th class="{$sub_total_class}">{$label t_descuentos sub_total}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$id_func_class}">{$id_func_mastervalue}</td>
			<td class="{$name_class}">{$name_mastervalue}</td>
			<td class="{$l_name1_class}">{$l_name1_mastervalue}</td>
			<td class="{$l_name2_class}">{$l_name2_mastervalue}</td>
			<td class="{$afp_10_class}">{$afp_10_mastervalue}</td>
			<td class="{$afp_riesgo_1_71_class}">{$afp_riesgo_1_71_mastervalue}</td>
			<td class="{$afp_05_class}">{$afp_05_mastervalue}</td>
			<td class="{$rc_iva_class}">{$rc_iva_mastervalue}</td>
			<td class="{$retenciones_class}">{$retenciones_mastervalue}</td>
			<td class="{$multa_class}">{$multa_mastervalue}</td>
			<td class="{$total_desc_class}">{$total_desc_mastervalue}</td>
			<td class="{$mes_class}">{$mes_mastervalue}</td>
			<td class="{$liquido_pagable_class}">{$liquido_pagable_mastervalue}</td>
			<td class="{$afp_ap_sol_0_5_class}">{$afp_ap_sol_0_5_mastervalue}</td>
			<td class="{$gestion_class}">{$gestion_mastervalue}</td>
			<td class="{$ans_1_class}">{$ans_1_mastervalue}</td>
			<td class="{$seguro_pat_10_class}">{$seguro_pat_10_mastervalue}</td>
			<td class="{$riesgo_pat_171_class}">{$riesgo_pat_171_mastervalue}</td>
			<td class="{$pro_vivienda_pat_2_class}">{$pro_vivienda_pat_2_mastervalue}</td>
			<td class="{$ap_pat_sol_3_class}">{$ap_pat_sol_3_mastervalue}</td>
			<td class="{$sub_total_class}">{$sub_total_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 




{END container_mastergrid}

</div>