<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id_func">
	{$id_func_editcontrol}
	</control>
	<control field="afp_10">
	{$afp_10_editcontrol}
	</control>
	<control field="afp_riesgo_1_71">
	{$afp_riesgo_1_71_editcontrol}
	</control>
	<control field="afp_05">
	{$afp_05_editcontrol}
	</control>
	<control field="rc_iva">
	{$rc_iva_editcontrol}
	</control>
	<control field="retenciones">
	{$retenciones_editcontrol}
	</control>
	<control field="multa">
	{$multa_editcontrol}
	</control>
	<control field="total_desc">
	{$total_desc_editcontrol}
	</control>
	<control field="liquido_pagable">
	{$liquido_pagable_editcontrol}
	</control>
	<control field="afp_ap_sol_0_5">
	{$afp_ap_sol_0_5_editcontrol}
	</control>
	<control field="ans_1">
	{$ans_1_editcontrol}
	</control>
	<control field="seguro_pat_10">
	{$seguro_pat_10_editcontrol}
	</control>
	<control field="riesgo_pat_171">
	{$riesgo_pat_171_editcontrol}
	</control>
	<control field="pro_vivienda_pat_2">
	{$pro_vivienda_pat_2_editcontrol}
	</control>
	<control field="ap_pat_sol_3">
	{$ap_pat_sol_3_editcontrol}
	</control>
	<control field="sub_total">
	{$sub_total_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>