<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel t_doc_file search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NO</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_cert_nac}">
	{BEGIN cert_nac_fieldblock}		
	<td>
		{$label t_doc_file cert_nac}
	</td>
	<td>
		<input type="checkbox" {$cert_nac_notbox}>
	</td>
	<td>
		{$searchtype_cert_nac}
	</td>
	<td>
		{$cert_nac_editcontrol}&nbsp;
	</td>
	<td>
		{$cert_nac_editcontrol1}&nbsp;
	</td>
{END cert_nac_fieldblock}
	</tr>
	<tr class="{$fielddispclass_cert_nac_img}">
	{BEGIN cert_nac_img_fieldblock}		
	<td>
		{$label t_doc_file cert_nac_img}
	</td>
	<td>
		<input type="checkbox" {$cert_nac_img_notbox}>
	</td>
	<td>
		{$searchtype_cert_nac_img}
	</td>
	<td>
		{$cert_nac_img_editcontrol}&nbsp;
	</td>
	<td>
		{$cert_nac_img_editcontrol1}&nbsp;
	</td>
{END cert_nac_img_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ci}">
	{BEGIN ci_fieldblock}		
	<td>
		{$label t_doc_file ci}
	</td>
	<td>
		<input type="checkbox" {$ci_notbox}>
	</td>
	<td>
		{$searchtype_ci}
	</td>
	<td>
		{$ci_editcontrol}&nbsp;
	</td>
	<td>
		{$ci_editcontrol1}&nbsp;
	</td>
{END ci_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ci_img}">
	{BEGIN ci_img_fieldblock}		
	<td>
		{$label t_doc_file ci_img}
	</td>
	<td>
		<input type="checkbox" {$ci_img_notbox}>
	</td>
	<td>
		{$searchtype_ci_img}
	</td>
	<td>
		{$ci_img_editcontrol}&nbsp;
	</td>
	<td>
		{$ci_img_editcontrol1}&nbsp;
	</td>
{END ci_img_fieldblock}
	</tr>
	<tr class="{$fielddispclass_libreta_mil}">
	{BEGIN libreta_mil_fieldblock}		
	<td>
		{$label t_doc_file libreta_mil}
	</td>
	<td>
		<input type="checkbox" {$libreta_mil_notbox}>
	</td>
	<td>
		{$searchtype_libreta_mil}
	</td>
	<td>
		{$libreta_mil_editcontrol}&nbsp;
	</td>
	<td>
		{$libreta_mil_editcontrol1}&nbsp;
	</td>
{END libreta_mil_fieldblock}
	</tr>
	<tr class="{$fielddispclass_libreta_mil_img}">
	{BEGIN libreta_mil_img_fieldblock}		
	<td>
		{$label t_doc_file libreta_mil_img}
	</td>
	<td>
		<input type="checkbox" {$libreta_mil_img_notbox}>
	</td>
	<td>
		{$searchtype_libreta_mil_img}
	</td>
	<td>
		{$libreta_mil_img_editcontrol}&nbsp;
	</td>
	<td>
		{$libreta_mil_img_editcontrol1}&nbsp;
	</td>
{END libreta_mil_img_fieldblock}
	</tr>
	<tr class="{$fielddispclass_segip}">
	{BEGIN segip_fieldblock}		
	<td>
		{$label t_doc_file segip}
	</td>
	<td>
		<input type="checkbox" {$segip_notbox}>
	</td>
	<td>
		{$searchtype_segip}
	</td>
	<td>
		{$segip_editcontrol}&nbsp;
	</td>
	<td>
		{$segip_editcontrol1}&nbsp;
	</td>
{END segip_fieldblock}
	</tr>
	<tr class="{$fielddispclass_segip_img}">
	{BEGIN segip_img_fieldblock}		
	<td>
		{$label t_doc_file segip_img}
	</td>
	<td>
		<input type="checkbox" {$segip_img_notbox}>
	</td>
	<td>
		{$searchtype_segip_img}
	</td>
	<td>
		{$segip_img_editcontrol}&nbsp;
	</td>
	<td>
		{$segip_img_editcontrol1}&nbsp;
	</td>
{END segip_img_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Buscar</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
