<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="cert_nac">
	{$cert_nac_editcontrol}
	</control>
	<control 
	field="cert_nac_img">
	{$cert_nac_img_editcontrol}
	</control>
	<control 
	field="ci">
	{$ci_editcontrol}
	</control>
	<control 
	field="ci_img">
	{$ci_img_editcontrol}
	</control>
	<control 
	field="libreta_mil">
	{$libreta_mil_editcontrol}
	</control>
	<control 
	field="libreta_mil_img">
	{$libreta_mil_img_editcontrol}
	</control>
	<control 
	field="segip">
	{$segip_editcontrol}
	</control>
	<control 
	field="segip_img">
	{$segip_img_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
