<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel t_doc_file view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-viewfields2 {$brickclass_viewfields2}"><table class="fieldGrid fieldGrid2">

<tr>
<td>
	{BEGIN cert_nac_fieldblock}
<div data-fieldname="cert_nac" class="rnr-field style1 {$fielddispclass_cert_nac}">
  <span class="rnr-label">{$label t_doc_file cert_nac}:</span>
  <span class="rnr-control style3">{$cert_nac_value}</span>
</div>
{END cert_nac_fieldblock}
	{BEGIN cert_nac_img_fieldblock}
<div data-fieldname="cert_nac_img" class="rnr-field style1 {$fielddispclass_cert_nac_img}">
  <span class="rnr-label">{$label t_doc_file cert_nac_img}:</span>
  <span class="rnr-control style3">{$cert_nac_img_value}</span>
</div>
{END cert_nac_img_fieldblock}
	{BEGIN ci_fieldblock}
<div data-fieldname="ci" class="rnr-field style1 {$fielddispclass_ci}">
  <span class="rnr-label">{$label t_doc_file ci}:</span>
  <span class="rnr-control style3">{$ci_value}</span>
</div>
{END ci_fieldblock}
	{BEGIN ci_img_fieldblock}
<div data-fieldname="ci_img" class="rnr-field style1 {$fielddispclass_ci_img}">
  <span class="rnr-label">{$label t_doc_file ci_img}:</span>
  <span class="rnr-control style3">{$ci_img_value}</span>
</div>
{END ci_img_fieldblock}
</td>
<td>
	{BEGIN libreta_mil_fieldblock}
<div data-fieldname="libreta_mil" class="rnr-field style1 {$fielddispclass_libreta_mil}">
  <span class="rnr-label">{$label t_doc_file libreta_mil}:</span>
  <span class="rnr-control style3">{$libreta_mil_value}</span>
</div>
{END libreta_mil_fieldblock}
	{BEGIN libreta_mil_img_fieldblock}
<div data-fieldname="libreta_mil_img" class="rnr-field style1 {$fielddispclass_libreta_mil_img}">
  <span class="rnr-label">{$label t_doc_file libreta_mil_img}:</span>
  <span class="rnr-control style3">{$libreta_mil_img_value}</span>
</div>
{END libreta_mil_img_fieldblock}
	{BEGIN segip_fieldblock}
<div data-fieldname="segip" class="rnr-field style1 {$fielddispclass_segip}">
  <span class="rnr-label">{$label t_doc_file segip}:</span>
  <span class="rnr-control style3">{$segip_value}</span>
</div>
{END segip_fieldblock}
	{BEGIN segip_img_fieldblock}
<div data-fieldname="segip_img" class="rnr-field style1 {$fielddispclass_segip_img}">
  <span class="rnr-label">{$label t_doc_file segip_img}:</span>
  <span class="rnr-control style3">{$segip_img_value}</span>
</div>
{END segip_img_fieldblock}
</td>
</tr>
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Editar</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
