<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="gestion">
	{$gestion_editcontrol}
	</control>
	<control 
	field="periodo">
	{$periodo_editcontrol}
	</control>
	<control 
	field="mes_num">
	{$mes_num_editcontrol}
	</control>
	<control 
	field="monto_total">
	{$monto_total_editcontrol}
	</control>
	<control 
	field="monto_13">
	{$monto_13_editcontrol}
	</control>
	<control 
	field="lugar">
	{$lugar_editcontrol}
	</control>
	<control 
	field="fecha">
	{$fecha_editcontrol}
	</control>
	<control 
	field="archivo_digital">
	{$archivo_digital_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
