<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_func">
	{$id_func_editcontrol}
	</control>
	<control 
	field="haber_basico">
	{$haber_basico_editcontrol}
	</control>
	<control 
	field="dias_trab">
	{$dias_trab_editcontrol}
	</control>
	<control 
	field="haber_percibido">
	{$haber_percibido_editcontrol}
	</control>
	<control 
	field="reint">
	{$reint_editcontrol}
	</control>
	<control 
	field="bono_ant">
	{$bono_ant_editcontrol}
	</control>
	<control 
	field="total_ganado">
	{$total_ganado_editcontrol}
	</control>
	<control 
	field="devoluciones">
	{$devoluciones_editcontrol}
	</control>
	<control 
	field="asig_familiar">
	{$asig_familiar_editcontrol}
	</control>
	<control 
	field="mes">
	{$mes_editcontrol}
	</control>
	<control 
	field="gestion">
	{$gestion_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
