<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel t_mes_activo edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-editfields2 {$brickclass_editfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN mes_activo_fieldblock}
<div data-fieldname="mes_activo" class="rnr-field style1 {$fielddispclass_mes_activo}">
  <span class="rnr-label">{BEGIN mes_activo_label}{$label t_mes_activo mes_activo}{END mes_activo_label}</span>
  <span class="rnr-control style3">{$mes_activo_editcontrol}</span>
</div>
{END mes_activo_fieldblock}
	{BEGIN mes_numerico_fieldblock}
<div data-fieldname="mes_numerico" class="rnr-field style1 {$fielddispclass_mes_numerico}">
  <span class="rnr-label">{BEGIN mes_numerico_label}{$label t_mes_activo mes_numerico}{END mes_numerico_label}</span>
  <span class="rnr-control style3">{$mes_numerico_editcontrol}</span>
</div>
{END mes_numerico_fieldblock}
	{BEGIN gestion_fieldblock}
<div data-fieldname="gestion" class="rnr-field style1 {$fielddispclass_gestion}">
  <span class="rnr-label">{BEGIN gestion_label}{$label t_mes_activo gestion}{END gestion_label}</span>
  <span class="rnr-control style3">{$gestion_editcontrol}</span>
</div>
{END gestion_fieldblock}
</td>
<td>
	{BEGIN ufv_mes_anterior_fieldblock}
<div data-fieldname="ufv_mes_anterior" class="rnr-field style1 {$fielddispclass_ufv_mes_anterior}">
  <span class="rnr-label">{BEGIN ufv_mes_anterior_label}{$label t_mes_activo ufv_mes_anterior}{END ufv_mes_anterior_label}</span>
  <span class="rnr-control style3">{$ufv_mes_anterior_editcontrol}</span>
</div>
{END ufv_mes_anterior_fieldblock}
	{BEGIN ufv_mes_actual_fieldblock}
<div data-fieldname="ufv_mes_actual" class="rnr-field style1 {$fielddispclass_ufv_mes_actual}">
  <span class="rnr-label">{BEGIN ufv_mes_actual_label}{$label t_mes_activo ufv_mes_actual}{END ufv_mes_actual_label}</span>
  <span class="rnr-control style3">{$ufv_mes_actual_editcontrol}</span>
</div>
{END ufv_mes_actual_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
	{END close_button}
	</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
