<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel t_memo_acta edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-editfields2 {$brickclass_editfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN id_func_fieldblock}
<div data-fieldname="id_func" class="rnr-field style1 {$fielddispclass_id_func}">
  <span class="rnr-label">{BEGIN id_func_label}{$label t_memo_acta id_func}{END id_func_label}</span>
  <span class="rnr-control style3">{$id_func_editcontrol}</span>
</div>
{END id_func_fieldblock}
	{BEGIN tipo_documento_fieldblock}
<div data-fieldname="tipo_documento" class="rnr-field style1 {$fielddispclass_tipo_documento}">
  <span class="rnr-label">{BEGIN tipo_documento_label}{$label t_memo_acta tipo_documento}{END tipo_documento_label}</span>
  <span class="rnr-control style3">{$tipo_documento_editcontrol}</span>
</div>
{END tipo_documento_fieldblock}
	{BEGIN documento_dig_fieldblock}
<div data-fieldname="documento_dig" class="rnr-field style1 {$fielddispclass_documento_dig}">
  <span class="rnr-label">{BEGIN documento_dig_label}{$label t_memo_acta documento_dig}{END documento_dig_label}</span>
  <span class="rnr-control style3">{$documento_dig_editcontrol}</span>
</div>
{END documento_dig_fieldblock}
</td>
<td>
	{BEGIN fecha_registro_fieldblock}
<div data-fieldname="fecha_registro" class="rnr-field style1 {$fielddispclass_fecha_registro}">
  <span class="rnr-label">{BEGIN fecha_registro_label}{$label t_memo_acta fecha_registro}{END fecha_registro_label}</span>
  <span class="rnr-control style3">{$fecha_registro_editcontrol}</span>
</div>
{END fecha_registro_fieldblock}
	{BEGIN detalle_fieldblock}
<div data-fieldname="detalle" class="rnr-field style1 {$fielddispclass_detalle}">
  <span class="rnr-label">{BEGIN detalle_label}{$label t_memo_acta detalle}{END detalle_label}</span>
  <span class="rnr-control style3">{$detalle_editcontrol}</span>
</div>
{END detalle_fieldblock}
</td>
</tr>
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>Ver</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
