<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_func">
	{$id_func_editcontrol}
	</control>
	<control 
	field="tipo_multa">
	{$tipo_multa_editcontrol}
	</control>
	<control 
	field="monto">
	{$monto_editcontrol}
	</control>
	<control 
	field="descripcion">
	{$descripcion_editcontrol}
	</control>
	<control 
	field="doc_img">
	{$doc_img_editcontrol}
	</control>
	<control 
	field="mes">
	{$mes_editcontrol}
	</control>
	<control 
	field="gestion">
	{$gestion_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
