<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="cod_afp">
	{$cod_afp_editcontrol}
	</control>
	<control field="ans_1">
	{$ans_1_editcontrol}
	</control>
	<control field="afp_ap_sol_0_5">
	{$afp_ap_sol_0_5_editcontrol}
	</control>
	<control field="cta_banco">
	{$cta_banco_editcontrol}
	</control>
	<control field="id_func">
	{$id_func_editcontrol}
	</control>
	<control field="fecha_nac">
	{$fecha_nac_editcontrol}
	</control>
	<control field="sexo">
	{$sexo_editcontrol}
	</control>
	<control field="item_contrato">
	{$item_contrato_editcontrol}
	</control>
	<control field="unidad">
	{$unidad_editcontrol}
	</control>
	<control field="cargo">
	{$cargo_editcontrol}
	</control>
	<control field="paterno">
	{$paterno_editcontrol}
	</control>
	<control field="materno">
	{$materno_editcontrol}
	</control>
	<control field="nombres">
	{$nombres_editcontrol}
	</control>
	<control field="ci">
	{$ci_editcontrol}
	</control>
	<control field="exp">
	{$exp_editcontrol}
	</control>
	<control field="nit">
	{$nit_editcontrol}
	</control>
	<control field="fec_ingreso">
	{$fec_ingreso_editcontrol}
	</control>
	<control field="baja">
	{$baja_editcontrol}
	</control>
	<control field="reasig">
	{$reasig_editcontrol}
	</control>
	<control field="haber_basico">
	{$haber_basico_editcontrol}
	</control>
	<control field="dias_trab">
	{$dias_trab_editcontrol}
	</control>
	<control field="haber_percibido">
	{$haber_percibido_editcontrol}
	</control>
	<control field="reint">
	{$reint_editcontrol}
	</control>
	<control field="bono_ant">
	{$bono_ant_editcontrol}
	</control>
	<control field="total_ganado">
	{$total_ganado_editcontrol}
	</control>
	<control field="devoluciones">
	{$devoluciones_editcontrol}
	</control>
	<control field="asig_familiar">
	{$asig_familiar_editcontrol}
	</control>
	<control field="afp_10">
	{$afp_10_editcontrol}
	</control>
	<control field="afp_riesgo_1_71">
	{$afp_riesgo_1_71_editcontrol}
	</control>
	<control field="afp_05">
	{$afp_05_editcontrol}
	</control>
	<control field="rc_iva">
	{$rc_iva_editcontrol}
	</control>
	<control field="retenciones">
	{$retenciones_editcontrol}
	</control>
	<control field="multa">
	{$multa_editcontrol}
	</control>
	<control field="total_desc">
	{$total_desc_editcontrol}
	</control>
	<control field="liquido_pagable">
	{$liquido_pagable_editcontrol}
	</control>
	<control field="mes">
	{$mes_editcontrol}
	</control>
	<control field="gestion">
	{$gestion_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>