<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id_func_trib">
	{$id_func_trib_editcontrol}
	</control>
	<control field="gestion">
	{$gestion_editcontrol}
	</control>
	<control field="periodo">
	{$periodo_editcontrol}
	</control>
	<control field="nit">
	{$nit_editcontrol}
	</control>
	<control field="novedades">
	{$novedades_editcontrol}
	</control>
	<control field="liquido_pagable">
	{$liquido_pagable_editcontrol}
	</control>
	<control field="dos_salarios_min">
	{$dos_salarios_min_editcontrol}
	</control>
	<control field="base_imponible">
	{$base_imponible_editcontrol}
	</control>
	<control field="impuesto_rc_iva">
	{$impuesto_rc_iva_editcontrol}
	</control>
	<control field="dos_salarios_13">
	{$dos_salarios_13_editcontrol}
	</control>
	<control field="impuesto_neto_rc_iva">
	{$impuesto_neto_rc_iva_editcontrol}
	</control>
	<control field="f_110_facturas">
	{$f_110_facturas_editcontrol}
	</control>
	<control field="saldo_favor_fisco">
	{$saldo_favor_fisco_editcontrol}
	</control>
	<control field="saldo_favor_dependiente">
	{$saldo_favor_dependiente_editcontrol}
	</control>
	<control field="saldo_favor_dependiente_per_anterior">
	{$saldo_favor_dependiente_per_anterior_editcontrol}
	</control>
	<control field="mantenimiento_periodo_anterior">
	{$mantenimiento_periodo_anterior_editcontrol}
	</control>
	<control field="saldo_periodo_anterior_actualizado">
	{$saldo_periodo_anterior_actualizado_editcontrol}
	</control>
	<control field="saldo_utilizado">
	{$saldo_utilizado_editcontrol}
	</control>
	<control field="impuesto_rc_iva_retenido">
	{$impuesto_rc_iva_retenido_editcontrol}
	</control>
	<control field="saldo_favor_dep_mes_siguiente">
	{$saldo_favor_dep_mes_siguiente_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>